
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	color: #6D6E71;
	font-size: 22pt;
	padding-top: 10px;
}


h1, h2, h3 {
font-family: 'Roboto Slab', serif;	
}


/*.h1div {
	display: flex;
	align-items: center;
}*/

/*header styles*/

header {
	background: #E5F3F2;
	text-align: center;
}

.accent-color {
	color: #00A79D;
}

.input {
	width: 90%;
	margin: 10px 10px 5px 10px;
	height: 23px;
}

.idea-input {
	height: 75px;
}

input::placeholder {
font-size: 14pt;
color: #CFD8DC;
padding: 3px;
}

.button {
	background: #00A79D;
	color: #FFFFFF;	
	border: none;
	width: 90%;
	margin: 10px;
	height: 35px;

}

/*main container styles*/

.container {
	text-align: center;
	margin-top: 5px;
}

.icon {
	width: 25px;
	height: 25px;
}

.right {
	float: right;
}



h2 {
	
	color: #6D6E71;
	font-size: 20px;
}

.idea-article {
	width: 90%;
	margin: 20px;
	padding-top: 5px;
	text-align: left;
}

#search-input {
	margin-top: 5px;
}

.icon-buttons {
	height: 25px;
	width: 25px;
	display: inline;
	margin-right: 15px;
}

.delete-button {
	margin-top: -20px;
}
.delete-button:hover {

}

.quality-rank {
	display: inline;
}

h3 {
	color: #6D6E71;
	font-size: 10pt;
}

.idea-paragraph {
	color: #939598;
	font-size: 12pt;
	margin: 10px auto;
}

hr {
	border: 1px solid #D1D3D4;
} 

@media only screen and (min-width: 650px;){

h1{
	font-size: 90pt;
	margin-bottom: 60px;
	padding-top: 32px;
}

.input {
	font-size: 32px;
	margin: 15px 15px;
	width: 50%;
}

button {
	font-size: 30px;
	height: 50px;
	width: 50%;
}





}






