
*, *:before, *:after {
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	color: #6D6E71;
	font-size: 22pt;
	padding-top: 10px;
}


h1, h2, h3 {
font-family: 'Roboto Slab', serif;	
}



/*header styles*/

header {
	background: #E5F3F2;
	text-align: center;
}

.accent-color {
	color: #00A79D;
}

.input {
	width: 85%;
	margin: 10px 10px 5px 10px;
	height: 33px;
	padding: 10px 5px;
	/*padding-right: 10px auto;*/
	border: 2px solid #D1D3D4;
}

.idea-input {
	height: 78px;
}

input::placeholder {
font-size: 13pt;
color: #CFD8DC;
}


.button {
	background: #00A79D;
	color: #FFFFFF;	
	border: none;
	width: 85%;
	margin: 10px 10px 20px 10px;
	height: 35px;
	font-size: 18px;

}

.button:hover {
	background: #045E55;
}

/*main container styles*/

.container {
	text-align: center;
	margin-top: 5px;
}

.icon {
	width: 25px;
	height: 25px;
}

.right {
	float: right;
}


h2 {
	
	color: #6D6E71;
	font-size: 18px;
}

.idea-article {
	width: 85%;
	margin: 20px auto;
	padding-top: 5px;
	text-align: left;
}

#search-input {
	margin-top: 15px;
}

.icon-buttons {
	height: 25px;
	width: 25px;
	/*display: inline;*/
	margin-right: 15px;
}

.delete-button-div {
	
	background:url('../images/delete.svg');
}

.delete-button-div:hover {
	background: url('../images/delete-hover.svg');
}

.delete-button {
	margin-top: -20px;
	margin-right: 20px;
}

.upvote-button-div {
	background: url('../images/upvote.svg') 0 0 no-repeat;
}

.upvote-button-div:hover {
	background:url('../images/upvote-hover.svg') 0 0 no-repeat;
}

.downvote-button-div {
	background: url('../images/downvote.svg');
}

.downvote-button-div:hover {
	background: url('../images/downvote-hover.svg');
}

.quality-rank {
	display: flex;
	flex-direction: row;
	color: #6D6E71;
	font-size: 10pt;
}

.idea-paragraph {
	color: #939598;
	font-size: 12pt;
	margin: 10px auto 20px auto;
	
}

hr {
	border: 1px solid #D1D3D4;
	margin-top: 20px;
} 

@media only screen and (min-width: 800px){


main.container {
	text-align: center;
}

h1 {
	font-size: 27pt;
	margin-bottom: 20px;
	padding-top: 18px;
}

.input {
	font-size: 18px;
	margin: 5px 15px;
	width: 50%;
	height: 30px;
}

.idea-input {
	height: 30px;
}

.button {
	font-size: 17px;
	height: 28px;
	width: 50%;
}

.idea-article {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}



}






